body {
  background-color: #FFF;
}
h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

.bg-image-pq {
    background-color: inherit;
    background-image: url(https://c1.staticflickr.com/9/8403/8691821209_6457b6e42e_b.jpg);
    background-size:290px;
    background-position: 50% 30%;
}

.bg-image-hj {
  background-color: inherit;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/44/Hella_Jongerius_at_Opening_Delegates_Lounge.jpg);
  background-size:280px;
  background-position: 50% 20%;
}
